@media only screen and (max-width: 1258px) and (min-width: 961px) {
    .sidebar-container {
        width: 230px;
    }
}



@media only screen and (max-width: 960px) {
    /* SideBar */
    .sidebar-container {
        width: 100%;
        position: absolute;
        left: -10000;
        display: none;
    }
    .sidebar-container .sidebar-logo-column img{
        width: 224px;
        cursor: pointer;
    }
    .not-active-sidebar-li{
        width: 100%;
    }
    /* SideBar Completed */

    /* Dashboard */
    /* Header */
    .dashboard-container{
        width: 100%;
        flex-basis: 100%;
    }
    .dashboard-header-row{
        padding-inline: 20px !important;
    }
    .dashboard-header-navs-column nav ul li{
        padding-right: 10px !important;
    }
    .dashboard-header-navs-column nav ul li:last-child i{
        padding-left: 0px !important;
        margin-right: -10px !important;
    }
    /* Header Completed */
    /* Dashboard Cards */
    .dashboard-header-Cards .Icons-container-for-header-cards{
        display: flex;
        gap: 10px;
    }
    .dashboard-header-Cards .Icons-container-for-header-cards .yellow-button-for-cards{
        margin-left: 0;
    }
    /* Dashboard Cards Completed */
    /* Summary */
    @media only screen and (max-width: 530px) {
        .dashboard-Summary-column{
            flex-direction: column;
            padding: 15px 15px 0 !important;
        }
        .listed-expenses-card{
            width: 100% !important;
        }
        .for-cards-custom-paddings {
            padding: 15px 15px;
        }
    }
    /* Clients in summary */
    .clients-card {
        width: 100% !important;
        min-width: 190px !important;
    }
    /* Clients in summary Completed */
    /* Summary Completed*/

    /* Dashboard Completed */
}
@media only screen and (max-width: 960px) and (min-width: 769px) {
    /* SideBar */
    .sidebar-container {
        width: 40%;
    }
    .mobile-header-show{
        animation: forMobileHeaderFortablets 5s;
    }
}

@media only screen and (max-width: 768px) {
    /* SideBar */
    .sidebar-container {
        width: 100%;
    }
    .mobile-header-show{
        animation: forMobileHeaderForMobiles 5s;
    }
    /* SideBar Completed */
    
}

/* Effects and Animations For sidebar in mobile */
.mobile-header-show{
    display: block;
    left: 0;
    z-index: 1000;
}
.content-hide-for-mobile-header{
    display: block;
}
.overlay-for-tab-header{
    background-color: black;
    height: 2000px;
    width: 100%;
    opacity: 0.4;
    z-index: 4;
    position: absolute;
    display: block;
    animation: forMobileHeaderForMobiles 2.5s;
    
}
@media only screen and (min-width: 960px) {
    .overlay-for-tab-header{
        display: none;
    }
}

@keyframes forMobileHeaderForMobiles {
    0% {
        width: 10%;
    }
    100% {
        width: 100%;
    }
}
@keyframes forMobileHeaderFortablets {
    0% {
        width: 10%;
    }
    100% {
        width: 40%;
    }
}