/* Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Variables */
:root {
    /* Aside Bar Variables */
    --primary-sidebar-color: #696cff;
    --primary-sidebar-bg-color: #1b2836;
    --primary-text-color-sidebar: #fdfdff;
    --secondary-text-color-sidebar: #85899c;
    --primary-icon-color-sidebar: #494b74;
    --secondary-icon-color-sidebar: #414a60;
    /* Dashboard Variables */
    --primary-dashboard-bg-color: #f2f4f6;
    --primary-cards-bg-color: #fff;
    --primary-cards-header-border-color: #f2f2f2;
    --primary-cards-header-font-color: #353445;
    --yellow-circle-in-header:#eac981;
    --green-circle-in-header:#85c3bd;
    --dots-icon-color: #bec5d2;
    /* Dashboard Header */
    --primary-icon-color-dashboard-header: #d9d5fb;
    --secondary-icon-color-dashboard-header: #5443ee;
    --reset-icon-color: #5443ee;
    /* Dashboard Header Completed */

    /* Dashboard Summary */
    --expensive-card-background-color: #6a6cff;
    /* Dashboard Summary Completed */

    /* Dashboard Variables Completed */

}
/* General Styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body{
    font-family: 'Open Sans', sans-serif;
    transition: all 1s ease-in-out;
    font-smooth: 2em;
}
.main-container{
    display: flex;
}
/* Aside Bar */
.sidebar-container {
    background-color: var(--primary-sidebar-bg-color);
    width: 18%;
    height: 2000px;
}
.sidebar-container .sidebar-logo-column{
    display: flex;
}
.sidebar-container .sidebar-logo-column img{
    margin: 15px 0px 0px 18px;
    width: 52%;
}
.sidebar-container .sidebar-navs-column{
    margin-top: 30px;
}
.sidebar-container .sidebar-navs-column nav ul {
    padding-inline: 40px;
    list-style: none;
}
.sidebar-container .sidebar-navs-column nav ul li{
    cursor: pointer;   
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.sidebar-container .sidebar-navs-column nav ul li i{
    font-size: 17px;
    padding-right: 5px;
    width: 17px;
    color: red,inherit !important;
}
.sidebar-container .sidebar-navs-column nav ul li span{
    color: var(--primary-text-color-sidebar);
    font-size: 11.5px;
    text-transform: capitalize;
    padding-left: 8px;
    line-break: anywhere;
}
.dropsdowns-col-1 {
    display: flex;
    justify-content: space-between;
}

/* Effects and Animations For Side Bar */
.active-sidebar-li{
    background-color: var(--primary-sidebar-color);
    border-radius: 4px;
    padding: 10px 27px;
    margin-inline: -27px;
}
.not-active-sidebar-li{
    padding: 10px 0;
    width: 105%;
}
.not-active-sidebar-li span{
    color: #818598 !important;
}


/* Dashboard */
.dashboard-container{
    flex-basis: 82%;
    width: 82%;
    background-color: var(--primary-dashboard-bg-color);
}
/* DashBoard Header */
.dashboard-container .dashboard-header-row{
    height: 58px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 40px;
}
.dashboard-container .dashboard-header-row header{
    display: flex;
    justify-content: space-between;
}
.dashboard-container .dashboard-header-row .dashboard-header-logo-column{
    display: flex;
    align-items: center;
}
.dashboard-container .dashboard-header-row .dashboard-header-logo-column i{
    font-size: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.dashboard-container .dashboard-header-row .dashboard-header-navs-column nav ul li{
    display: inline;
    padding-right: 25px;
}
.dashboard-container .dashboard-header-row .dashboard-header-navs-column nav ul li i{
    font-size: 20px;
    cursor: pointer;
}
.dashboard-container .dashboard-header-row .dashboard-header-navs-column nav ul li:last-child i{
    padding-left: 5px !important;
    font-size: 24px;
    padding-right: 0px !important;
    margin-right: -25px;
}
/* DashBoard Header Completed*/

/* Dashboard Cards */
.dashboard-container .for-cards-custom-paddings{
    padding: 15px 30px;
}
.auto-styles-for-new-rows{
    padding-bottom: 40px;
    background-color: var(--primary-cards-bg-color);
    border-radius: 5px;
    width: 100% !important;
}
.auto-responsiveness-for-new-rows{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}
.for-colums-custom-paddings{
    padding-inline: 15px;
    padding-top: 15px;
}
.progress-bar{
    background-color: black;
    width: 100%;
    height: 10px;
    border-radius: 10px;
}
.dashboard-header-Cards{
    padding: 11px 12px;
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-cards-header-border-color);
}
.dashboard-header-Cards .text-container-for-header-cards h3{
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-cards-header-font-color);
}
.dashboard-header-Cards .Icons-container-for-header-cards{
    display: flex;
    gap: 20px;
    align-items: center;
}
.dashboard-header-Cards .Icons-container-for-header-cards .reset-button-in-cards-header{
    color: var(--reset-icon-color);
    font-size: 16px;
    cursor: pointer;
}
.dashboard-header-Cards .Icons-container-for-header-cards .yellow-button-for-cards{
    border-radius: 58%;
    display: block;
    margin-left: -15px;
    height: 13px;
    width: 13px !important;
    background: var(--yellow-circle-in-header);
    cursor: pointer;
}
.dashboard-header-Cards .Icons-container-for-header-cards .dots-in-cards-header{
    color: var(--dots-icon-color);
    cursor: pointer;
    font-size: 16px;
}
/* Dashboard Cards Completed */
/* Dashboard Summary */
.dashboard-container .dashboard-Summary-row {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    background-color: var(--primary-cards-bg-color);
    border-radius: 5px;
}
.dashboard-container .dashboard-Summary-row .dashboard-Summary-column {
    padding: 15px 23px 0;
    display: flex;
    gap: 40px;
}
.dashboard-container .dashboard-Summary-row .dashboard-Summary-column .listed-expenses-card {
    background-color: var(--expensive-card-background-color);
    border-radius: 5px;
    height: 415px;
    width: 270px;
    padding: 30px 15px 0;
}
.dashboard-container .dashboard-Summary-row .dashboard-Summary-column .listed-expenses-card .summary-card {
    display: flex;
    gap: 25px;
    padding-bottom: 20px;
}
.dashboard-container .dashboard-Summary-row .dashboard-Summary-column .listed-expenses-card .summary-card:last-child{
    padding-bottom: 0 !important;
}
.dashboard-container .dashboard-Summary-row .dashboard-Summary-column .listed-expenses-card .summary-card .icon-box{
    background-color: #e9faee;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-container .dashboard-Summary-row .dashboard-Summary-column .listed-expenses-card .summary-card .icon-box i{
    font-size: 15px;
    width: 17px;
    height: 17px;
    color: #1bc5bd;
}
.dashboard-container .dashboard-Summary-row .dashboard-Summary-column .listed-expenses-card .summary-card .card-content h3{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
}
.dashboard-container .dashboard-Summary-row .dashboard-Summary-column .listed-expenses-card .summary-card .card-content h6{
    color: #f4f0ff;
    font-size: 11px;
    font-weight: 400;
}
.icon-box-2-in-cards{
    background-color: #fff5f8 !important;
}
.icon-box-2-in-cards i {
    font-size: 17px !important;
    width: 17px;
    height: 17px;
}
.icon-box-3-in-cards i{
    font-size: 14px !important;
    width: 17px !important;
    height: 14px !important;
}
.icon-box-4-in-cards{
    background-color: #fff7dd !important;
}
.icon-box-4-in-cards i ,
.icon-box-5-in-cards i{
    width: 15px !important;
}
.icon-box-5-in-cards {
    background-color: #f8f5ff !important;
}
.icon-box-6-in-cards {
    background-color: #fff5f8 !important;
}
/* Clients in summary Cards*/
.dashboard-container .dashboard-Summary-row .dashboard-summary-clients-column{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start
}
.dashboard-container .dashboard-Summary-row .dashboard-summary-clients-column .clients-card {
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 193px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    padding: 20px 15px;
    align-items: center;
}
.dashboard-container .dashboard-Summary-row .dashboard-summary-clients-column .clients-card .content-for-clients-in-summary h3{
    font-size: 20px;
    font-weight: 600;
    color: #33345f;
    padding-bottom: 10px;
}
.dashboard-container .dashboard-Summary-row .dashboard-summary-clients-column .clients-card .content-for-clients-in-summary h6{
    font-size: 15px;
    font-weight: 600;
    color: #8f9db4;
}
.dashboard-container .dashboard-Summary-row .dashboard-summary-clients-column .clients-card .icon-box-for-clients-in-summary {
    background-color: #f3f6f9;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-container .dashboard-Summary-row .dashboard-summary-clients-column .clients-card .icon-box-for-clients-in-summary i {
    font-size: 13px;
}
/* Clients in summary Cards Completed*/
/* Dashboard Summary Completed*/

/* Clients and Invoices Section*/

/* Recent Clients */
.dashboard-recent-clients{
    width: 50%;
    max-height: 420px;
    padding-bottom: 30px !important;
}
/* Recent Clients Completed*/

/* Recent Invoices */
.dashboard-recent-invoices{
    padding-bottom: 30px !important;
}
.for-table-in-recent-invoices{
    overflow-x: auto;
}
.table-for-recent-invoices td:first-child {
    padding-left: 5px !important;
}
.table-for-recent-invoices p{
    font-size: 12px;
    color: #8d60f8;
}
.table-for-recent-invoices h3,
.table-for-recent-invoices h4,
.table-for-recent-invoices span {
    font-size: 12px;
    line-break: anywhere;
    color: #575470;
    font-weight: 600;
}
.ribbon-for-tables{
    font-size: 10px;
    padding: 4px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: #ff9800;
    color: white;
}
.paid-bills-in-recent-invoices{
    padding: 30px 15px 0px;
}
.progressbar-recent-invoice{
    padding-bottom: 10px;
}
.progressbar-recent-invoice:last-child{
    padding-bottom: 0 !important;
}
.progressbar-recent-invoice h3{
    font-size: 12px;
    color: #a6a6a6;
    font-weight: 500;
    padding-bottom: 5px;
}
.progressbar-recent-invoice .progress-bar{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
/* Recent Invoices Completed */

/* Clients and Invoices Section Completed*/

/* Table */
.table-for-recent-clients,
.table-template {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
}
.table-for-recent-clients thead,
.table-template thead {
    background-color: #f5f7fa;
    padding: 10px !important;
    display: table-header-group;
}
.table-for-recent-clients thead th,
.table-template thead th{
    color: #6e6a8a;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 13px;
    text-align: left;
    padding: 10px;
}
.table-for-recent-clients tbody tr,
.table-template tbody tr{
    border-bottom: 2px solid white;
}
.table-for-recent-clients tbody td,
.table-template tbody td{
    background-color: #fcfcfc;
    border-radius: 5px;
}
.table-for-recent-clients tbody td i{
    font-size: 35px;
    color: #ecf2ff;
    padding-left: 9px;
}
.table-for-recent-clients tbody td h3,
.table-template tbody td h3 {
    color: #575470;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 12px;
}
.table-for-recent-clients tbody td h6 {
    color: #6e6a8a;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 11px;
    letter-spacing: .4px;
}
.table-for-recent-clients tbody td span {
    color: #757678;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 11px;
}

.table-for-recent-clients td,
.table-template td {
    text-align: left;
    padding: 10px;
    padding-left: 0px;
}

/* Table Completed */

/* Dashboard Completed */










/* Table */
.table-for-recent-clients,
.table-template {
    border-collapse: collapse;
    width: 100%;
}
.table-for-recent-clients thead,
.table-template thead {
    background-color: #f5f7fa;
    padding: 10px !important;
    display: table-header-group;
}
.table-for-recent-clients thead th,
.table-template thead th{
    color: #6e6a8a;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 13px;
    text-align: left;
    padding: 10px;
}
.table-for-recent-clients tbody tr,
.table-template tbody tr{
    border-bottom: 2px solid white;
}
.table-for-recent-clients tbody td,
.table-template tbody td{
    background-color: #fcfcfc;
    border-radius: 5px;
}
.table-for-recent-clients tbody td i{
    font-size: 35px;
    color: #ecf2ff;
    padding-left: 9px;
}
.table-for-recent-clients tbody td h3,
.table-template tbody td h3 {
    color: #575470;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 12px;
}
.table-for-recent-clients tbody td h6 {
    color: #6e6a8a;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 11px;
    letter-spacing: .4px;
}
.table-for-recent-clients tbody td span {
    color: #757678;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 11px;
}

.table-for-recent-clients td,
.table-template td {
    text-align: left;
    padding: 10px;
    padding-left: 0px;
}

/* Table Completed */